<a href="https://colab.research.google.com/github/Akshay-Rajesh/DSA_Activity/blob/main/Week_8_Q%26A_1ICTAK_hypothesis_%2C_t_test_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import pandas as pd
import scipy.stats as stats
import numpy as np

# 1. Carry out descriptive analytics on the dataset.

In [2]:
data = pd.read_csv("Week_8_Q&A_dataset - Sheet1.csv")

In [3]:
data.head()

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21

In [ ]:
data.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            28 non-null     object
 1   Test preparation  28 non-null     object
 2   Total Marks       28 non-null     int64
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes

We can see or data shows marks obtained by Males and Females in a test . There is also inforation on wheather the student did a test prepartion or not .Our data is clean with no null values .

# 2. Check whether female and male students scored the same marks.

null hypothesis Ho = Female and male scored did not score same marks.
Alternate hypothesis Ha = Female and Male scored same marks .

In [8]:
male_data = data[data["Gender"] =="male"]
female_data = data[data["Gender"] =="female"]

In [24]:
ttest = stats.ttest_ind(female_data["Total Marks"],male_data["Total Marks"])

In [25]:
print(ttest)

Ttest_indResult(statistic=0.6940885268848668, pvalue=0.4937822317960763)

In [32]:
tvalue ,pvalue

(0.6940885268848668, 0.4937822317960763)

In [26]:
# we take 5% alpha level
#we have to find our degress of freedom
degrees_of_freedom = len(female_data)+len(male_data) -2
significance_level = 0.05
print(f'Degrees of freedom = {degrees_of_freedom}')

Degrees of freedom = 26

In [30]:
#we find our critical value , here we have a two tail test with 5 % confifence interval so two tails 0.05/2
tcritical = stats.t.ppf(0.05/2,26)

In [31]:
tcritical

-2.0555294386428713

if tvalue less than t critical we accept null hypothesis
if tvalue greater than t critical we reject null hypothesis

In [35]:
# here tvalue =0.694 , tcritical = -2.05(we can find abs so 2.05)
if np.abs(tvalue)>np.abs(tcritical) and pvalue <0.05:
    print('Reject null hypothesis : female and male students scored the same marks')
else:
    print('Reject alternate hypothesis : female and male students does not scored the same marks')

Reject alternate hypothesis : female and male students does not scored the same marks

# 3. Whether test preparation helps the students?

(Null Hypothesis) H0: test preparation helps the students
(Alternate Hypothesis) H1: test preparation doesn't helps the students

In [36]:
data.head()

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21

In [38]:
test_prep_completed = data[data["Test preparation"] == "completed"]
test_prep_notcompleted = data[data["Test preparation"] == "none"]

In [39]:
test_prep_completed

    Gender Test preparation  Total Marks
5   female        completed           40
10    male        completed           44
12    male        completed           43
16  female        completed           48
21    male        completed           44
26  female        completed           50
27  female        completed           43

In [55]:
tvalue,pvalue = stats.ttest_ind(test_prep_completed["Total Marks"], test_prep_notcompleted["Total Marks"])

In [56]:
tvalue,pvalue

(3.6143637527769217, 0.0012671292457320106)

In [57]:
# we take 5% alpha level
#we have to find our degress of freedom
degrees_of_freedom = len(test_prep_completed)+len(test_prep_notcompleted) -2
significance_level = 0.05
print(f'Degrees of freedom = {degrees_of_freedom}')

Degrees of freedom = 26

In [60]:
# Right tailed test since we are checking marks is increasing , we do 1-0.05 .
tcrit = stats.t.ppf((1-0.05), 26)
tcrit

1.7056179197592727

In [59]:
if np.abs(tvalue) > np.abs(tcrit):
  print("We reject null hypothesis")
else:
  print("We accept null hypothesis")

We reject null hypothesis